.cartItem {
  margin: 100px 170px;
}

.cartItem hr {
  height: 3px;
  background: #e2e2e2;
  border: 0;
}
.cartItemFormatMain {
  display: grid;
  grid-template-columns: 0.5fr 2fr 1fr 1fr 1fr 1fr;
  align-items: center;
  gap: 75px;
  padding: 20px 0;
  color: #454545;
  font-size: 18px;
  font-weight: 600;
}
.cartItemFormat {
  font-size: 17px;
  font-weight: 500;
}
.cartIconProductIcon {
  height: 62px;
}
.cartItemRemoveIcon {
  width: 15px;
  margin: 0 40px;
  cursor: pointer;
}
.cartItemQuantity {
  width: 64px;
  height: 50px;
  border: 2px solid #ebebeb;
  background: #fff;
}
.cartItemDown {
  display: flex;
  margin: 100px 0;
}
.cartItemTotal {
  display: flex;
  flex-direction: column;
  flex: 1;
  margin-right: 200px;
  gap: 40px;
}
.cartItemTotalItem {
  display: flex;
  justify-content: space-between;
  padding: 15px 0;
}
.cartItemTotal button {
  width: 262px;
  height: 58px;
  outline: none;
  border: none;
  background: #ff5a5a;
  color: #fff;
  font-size: 16px;
  font-weight: 600;
  cursor: pointer;
}
.cartItemPromoCode {
  flex: 1;
  font-size: 16;
  font-weight: 500;
}
.cartItemPromoCode p {
  color: #555;
}
.cartItemPromoBox {
  width: 540px;
  margin-top: 15px;
  padding-left: 20px;
  height: 58px;
  background: #eaeaea;
}
.cartItemPromoBox input {
  border: none;
  outline: none;
  background: transparent;
  font-size: 16px;
  width: 330px;
  height: 50px;
}
.cartItemPromoBox button {
  width: 170px;
  height: 58px;
  font-size: 16px;
  background: black;
  color: white;
  cursor: pointer;
}

@media (max-width: 1280px) {
  .cartItem {
    margin: 60px 50px;
  }
  .cartItemFormatMain {
    grid-template-columns: 0.5fr 3fr 0.5fr 0.5fr 0.5fr 0.3fr;
    gap: 20px;
    padding: 15px 0;
    font-size: 15px;
  }
  .cartIconProductIcon {
    height: 50px;
  }
  .cartItemRemoveIcon {
    margin: auto;
  }
  .cartItemQuantity {
    width: 40px;
    height: 30px;
  }
  .cartItemDown {
    margin: 80px 0;
    flex-direction: column;
    gap: 80px;
  }
  .cartItemTotal {
    margin: 0;
  }
  .cartItemTotal button {
    max-width: 200px;
    height: 45px;
    font-size: 13px;
  }
  .cartItemPromoBox {
    width: auto;
    max-width: 500px;
  }
  .cartItemPromoBox input {
    width: 100%;
  }
  .cartItemPromoBox button {
    width: 120px;
    margin: -125px;
  }
}

@media (max-width: 700px) {
  .cartItemFormatMain {
    display: none;
    grid-template-columns: 0.5fr 3fr 0.5fr;
    gap: 10px;
  }
  .cartItemFormat {
    display: grid;
  }
}
